.abouttitle{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: 50000;
    background-image: image('../styles/aboutus1.jpg');
}

.aboutimg1{
    
}